#contact {
    border: 1px solid $main_color;
    overflow: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: .875rem;
    h2 {
        margin-top: 0;
        background: $main_color;
        padding: 5px 10px;
        span {
            margin-right: 10px;
        }

    }
}
