header {
    padding-top: 20px;
    figure {
        figcaption {
            font-size: 1.375rem;
            color: #014da3;
            font-weight: bold;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .company-name {
        margin: 0 0 40px 0;
        @media (min-width: 540px) {
            margin-top: -110px;
        }
        h1 {
            font-size: 2rem;
            font-weight: 900;
            word-spacing: 2px;
            transform: scale(1, 0.7);
            color: #014da3;
            letter-spacing: 1px;
        }
        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            color: #014da3;
            margin-top: 10px;
        }
    }
    .contact {
        li {
            font-style: italic;
            span {
                @media (min-width: 540px) {
                    display: inline;
                    margin-right: 4px;
                }
                display:block;
                line-height: 1.3;
            }
            img {
                margin-right: 0;
            }
        }
        img {
            margin-right: 25px;
        }
    }
    .navbar-default {
        img {
            margin-bottom: 4px;
            margin-right: 4px;
        }
    }
    .navbar-nav {
        li a {
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: 15px 5px;
        }
    }
    .navbar-form {
        padding: 0;
        .form-group {
            position: relative
        }
        img {
            position: absolute;
            top: 24%;
            transform: translateX(-50%);
            right: 0;
        }
    }
}

#home {
    #outstanding {
        h2 {
            background: url('../img/noibat/heading-bg.png') no-repeat;
            border-bottom: 3px solid $main_color;
            padding: 6px 0 4px 30px
        }
    }
    /*=====  MAIN CONTENT  ======*/
    #main-content {
        padding-right: 6px;
        #banner {
            .a-slide {
                height: 100%;
                width: 100%;
                background-size: cover !important;
            }
            .slide-item {
                background: url('../img/banner/banner-slide.png') no-repeat center;
            }
            .slick-slider {
                height: 100%;
            }
        }
        /*=====  SERVICE  ======*/
        #service {
            color: $main_color;
            font-size: 0.875rem;
            h2 {
                background: $main_color;
                padding: 5px 5px 0 5px;
            }
            span {
                margin-right: 10px;
            }
            .header {
                background-color: $service-item;
            }
            .service-item {
                color: #000;
                margin-top: 21px;
                .col-sm-12 {
                    background-color: $service-item;
                    padding: 5px 10px;
                    p {
                        margin: 0;
                    }
                }
            }
            /*=====  Search info form  ======*/
            #search-info-form {
                margin: 20px 0;
                color: white;
                h2 {
                    text-align: center;
                    text-transform: uppercase;
                    padding: 15px 0;
                    margin: 0;
                }
                .service-form {
                    padding-bottom: 30px;
                    background: $main_color;
                    label.col-sm-4 {
                        padding-right: 0;
                    }
                    .form-control {
                        border-radius: 10px;
                    }
                }
            }
        }
        /*=====  Saving water  ======*/
        #saving {
            margin-bottom: 20px;
            background: url('../img/saving-water.png') no-repeat;
            background-size: contain;
            width: 100%;
            height: 0;
            padding: 21% 21% 0;
        }
        #related {
            .panel {
                .panel-heading {
                    background-color: none;
                    padding-left: 0;
                    padding-right: 0;
                    .panel-title {
                        padding: 5px 5px 0 5px;
                        span {
                            margin-right: 10px;
                        }
                    }
                    .panel-tabs {
                        li {
                            margin-right: 15px;
                            &.active > a {
                                background-color: transparent;
                                border-radius: 0;
                                border-bottom: 1px solid white;
                            }
                            a {
                                font-weight: bold;
                                font-size: 0.8125rem;
                                padding: 8px 0 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    /*=====  SIDEBAR  ======*/
    aside {
        & > div {
            margin-top: 20px;
        }
        .sidebar-style {
            border: 2px solid $main_color;
            h2 {
                margin-top: 0px;
                font-size: 1.0625rem;
                color: white;
                font-weight: bold;
                text-align: center;
                background-color: $main_color;
                padding: 10px;
            }
        }
        #login {
            form {
                .form-group {
                    padding: 0 5px;
                    .row + .row {
                        margin-top: 5px
                    }
                    label {
                        font-size: 0.875rem;
                    }
                    .col-sm-8 {
                        position: relative;
                        span {
                            position: absolute;
                            top: 0;
                            right: 21px;
                        }
                    }
                }
                a {
                    margin-bottom: 10px;
                }
            }
        }
        /*=====  Payment  ======*/
        #payment {
            a {
                color: #e7832a;
                font-size: 0.875rem;
            }
            ul {
                padding-left: 5px;
                & > li:before {
                    content: "\2013";
                    padding-right: 8px;
                }
            }
        }
        #multimeter {
            h2 {
                margin-bottom: 0;
            }
        }
    }
}


/*=====  PARTNER  ======*/

#partner {
    position: relative;
    z-index: 11;
    background-color: #ecf0f1;
    padding: 0 0 30px;
    box-shadow: 0px 5px 5px rgba(166, 166, 166, 0.9);
    h2 {
        font-size: 0.9375rem;
        text-align: center;
        background: url('../img/partner/heading-bg.png') no-repeat;
        background-position: center center;
        position: relative;
        top: -5px;
        padding: 5px;
    }
}


/*=====  FOOTER  ======*/

footer {
    position: relative;
    z-index: -1;
    background-color: $main_color;
    color: white;
    font-size: 0.875rem;
    h2 {
        font-size: 1.125rem;
    }
    #about {
        p span {
            margin-right: 5px;
        }
    }
}
