#intro {
    .breadcrumb {
        margin-top: -20px;
        margin-bottom: 0;
        background: none;
        & > li a,
        & > li.active {
            color: $main_color;
        }
    }
    font-size: 0.875rem;
    h2 {
        span {
            margin-right: 10px;
        }
    }
    #service {
        background: $service-item;
        border: 0 1px 1px solid $service-item;
        h2 {
            background: $main_color;
            padding: 5px 5px 0 5px;
        }
    }
    /*=====  COMPANY INTRO  ======*/
    #company-intro {
        margin-top: 20px;
        border: 1px solid $main_color;
        h2 {
            margin-top: 0;
            padding: 10px;
            background: $main_color;
        }
        .company-intro-body {
            padding-left: 10px;
            img {
                display: block;
                margin: 30px auto;
            }
            .company-info {
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    } //end company intro
    /*=====   SIDEBAR ======*/
    #intro-sidebar {
        margin-top: 20px;
        #sideMenu {
            &.nav-tabs {
                border: none;
            }
            li.submenu {
                font-size: .875rem;
                background: transparent url(../img/gioithieu/submenu-bg.png) 0 0 no-repeat;
                padding: 5px;
                span {
                    line-height: 1.1;
                }
                & > ul {
                    padding-left: 15px;
                    li {
                        i {
                            margin-right: 5px;
                        }
                        a {
                            color: #333;
                        }
                    }
                }
            }
        }
        .service-item {
            color: #000;
            margin-top: 21px;
            background-color: $service-item;
            padding: 5px 10px;
            p {
                margin: 0;
                span {
                    margin-right: 10px;
                }
            }
        }
        .sidebar-style {
            img {
                margin: 0 auto;
                display: block;
            }
            border: 2px solid $main_color;
            margin-top: 20px;
            h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.0625rem;
                color: white;
                font-weight: bold;
                text-align: center;
                background-color: $main_color;
                padding: 10px;
            }
        }
    } //end sidebar
}
