#news_list {
    font-size: 0.875rem;
    #list {
        h2 {
            text-transform: uppercase;
            font-size: .875rem;
            background: url('../img/noibat/heading-bg.png') no-repeat;
            border-bottom: 3px solid $main_color;
            padding: 6px 0 4px 30px
        }
        .list-item + .list-item {
            margin-top: 30px;
        }
        .list-item {
            font-size: .8125rem;
            border-bottom: 1px dashed #cb6e28;
            h3 {
                font-size: .8125rem;
                line-height: 1.5;
                margin-top: 0px;
                text-transform: uppercase;
            }
        }
    }
    #most-viewed {
        h2 {
            background-color: $main_color;
            padding: 8px 15px;
            text-align: center;
            text-transform: uppercase;
        }
        .most-viewed-item {
            img {
                margin-right: 3px;
            }
        }
    }
    #news-list-sidebar {
        .service-item {
            color: #000;
            margin-top: 21px;
            background-color: $service-item;
            padding: 5px 10px;
            p {
                margin: 0;
                span {
                    margin-right: 10px;
                }
            }
        }
        .sidebar-style {
            img {
                margin: 0 auto;
                display: block;
            }
            border: 2px solid $main_color;
            margin-top: 20px;
            h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.0625rem;
                color: white;
                font-weight: bold;
                text-align: center;
                background-color: $main_color;
                padding: 10px;
            }
        }
    } //end sidebar
}
