$main_color: #2196F3;
$service_item: #ecf0f1;

/*============================
=            BASE            =
============================*/

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul,
ol {
    margin-bottom: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

a {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border: none;
}

h2,
.panel-title {
    font-size: 0.875rem;
    color: white;
    font-weight: bold;
}

.container-fluid {
    max-width: 1230px;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slider {
    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
    }
}

.panel-tabs {
    float: none;
    bottom: 0;
    @media (min-width: 992px) {
        float: right !important;
        position: relative;
        bottom: 30px;
        clear: both;
        border-bottom: 1px solid transparent;
    }
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .23);
    border-bottom-color: transparent;
}

.btn-find {
    background: transparent;
    border: 2px solid white;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.btn-login {
    padding: 1px 20px;
    background-color: #2980b9;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .26);
    border-radius: 3px/4px;
    color: white;
    font-weight: 400;
    margin: 10px 30px 0 0
}


/* #banner {
    .a-slide {
        height: 100%;
        width: 100%;
        background-size: cover !important;
    }
    .slide-item {
        background: url('../img/banner/banner-slide.png') no-repeat center;
    }
    .slick-slider {
        height: 100%;
    }
} */

.breadcrumb {
    margin-top: -20px;
    margin-bottom: 0;
    background: none;
    & > li a,
    & > li.active {
        color: $main_color;
    }
}

.copyright {
    font-size: .75rem;
    background-color: #1973bb;
    color: white;
    text-align: center;
    margin-top: 20px;
}

@import "home";
@import "intro";
@import "news";
@import "detail";
@import "contact";
